<h1><%= @category.name %></h1>

<%= breadcrumbs(["Home", root_path], ["Categories", categories_path], [@category.name, nil]) %>

<div class="container mt-4">
  <% if @products.any? %>
    <div class="row">
      <% @products.each do |product| %>
        <%= render "products/card", product: product %>
      <% end %>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <%= paginate @products %>
    </div>
  <% else %>
    <p class="alert alert-info">No products in this category yet.</p>
  <% end %>
</div>
